<div id="neighbors" data-prev="<%= @previous_token %>" data-next="<%= @next_token %>" ></div>
<div id="huge">
  <img src="<%= @image.url %>" >
</div>

<div><button class="btn vote"><i class="icon-arrow-up"></i></button></div>
<div><button class="btn vote"><i class="icon-arrow-down"></i></button></div>
