.btn {
  border: none;
  background: #34495e;
  color: #fff;
  cursor: pointer;
  padding: 10px 15px;
  display: inline-block;
  margin: 15px 15px;
  outline: none;
  position: relative;
  box-shadow: 0 6px #2c3e50;
  border-radius: 10px;
}
.vote {
  font-size: 42px;
}

.btn:active { color: #f1c40f }
