@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

.btn {
  border: none;
  background: #34495e;
  color: #fff;
  cursor: pointer;
  padding: 10px 15px;
  display: inline-block;
  margin: 15px 15px;
  outline: none;
  position: relative;
  box-shadow: 0 6px #2c3e50;
  border-radius: 10px;
}
.vote { font-size: 42px; }
.btn:active { color: #f1c40f }
.score {
  font-size: 42px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  margin-left: 30px;
  display: inline-block;
  position: relative;
}
.highlight, .highlight button{
  color: #f1c40f;
}
